@use "./base.scss";

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/pretendard/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

        @font-face {
            font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Paperlogy;
    src: url('/static/fonts/paperlogy/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: D2Coding;
    src: url('/static/fonts/d2coding/D2Coding-Ver1.3.2-20180524-ligature.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: D2Coding;
    src: url('/static/fonts/d2coding/D2CodingBold-Ver1.3.2-20180524-ligature.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/jetbrains/JetBrainsMonoNerdFontMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: SymbolsNerdFontMono;
    src: url('/static/fonts/SymbolsNerdFontMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}



:root {
    --titleFont: 'Paperlogy', 'Pretendard','SymbolsNerdFontMono', sans-serif !important;
    --headerFont: 'Paperlogy', 'Pretendard', 'SymbolsNerdFontMono', sans-serif !important;
    --bodyFont: 'Pretendard', 'SymbolsNerdFontMono', sans-serif !important;
    --codeFont: 'JetBrainsMonoNerd', 'D2Coding', 'SymbolsNerdFontMono', monospace !important;

    --font-default: var(--bodyFont) !important;
    --font-text: var(--font-default) !important;
    --font-interface: var(--font-default) !important;
    --font-header: var(--headerFont) !important;
    --font-monospace: var(--codeFont) !important;
}
